.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 10px;
  background-color: #3c3c3c;
}

.footer > .footer--desenvolvido-por {
  font-family: 'Inter';
  font-size: 1rem;
  color: #FFF;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer > .footer--desenvolvido-por > svg {
  margin: 0 5px;
  color: #ff4d6d;
}